{% extends 'base.html.twig' %}

{% block title %}Page d'accueil des articles{% endblock %}

{% block body %}
    <div class="main-content">
        <h1>Page d'accueil des articles</h1>

        <div class="table-container">
            <table class="table">
        <thead>
            <tr>
                <th>Auteur/e</th>
                <th>Nom de l'animal</th>
                <th>Race de l'animal</th>
                <th>Description</th>
                <th>Image</th>
                <th>Crée le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.author }}</td>
                <td>{{ article.animals.name }}</td>
                <td>{{ article.breed.name }}</td>
                <td>{{ article.description }}</td>
                <td>
                    {% if article.img %}
                        <img src="{{ asset('upload/articles/' ~ article.img) }}" alt="Image de {{ article.animals.name }}" style="max-width: 100px; max-height: 100px;">
                     {% else %}
                        Aucune image
                    {% endif %}
                </td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_articles_show', {'id': article.id}) }}" class="btn btn-secondary">Voir</a>
                    <a href="{{ path('app_articles_edit', {'id': article.id}) }}" class="btn">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
            </tbody>
            </table>
        </div>

        <div style="text-align: center; margin-top: 2rem;">
            <a href="{{ path('app_articles_new') }}" class="btn">Créer un nouvel article</a>
        </div>
    </div>
{% endblock %}
