{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Auteur/e</th>
                <td>{{ article.author }}</td>
            </tr>
            <tr>
            <tr>
                <th>Image : </th>
                <td>
                    {% if article.img %}
                        <img src="{{ asset('upload/articles/' ~ article.img) }}" alt="Image de {{ article.animals.name }}" style="max-width: 100px; max-height: 100px;">
                     {% else %}
                        Aucune image
                    {% endif %}
                </td>
            </tr>
                <th>Description : </th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Crée le : </th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Dernière modification le : </th>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_articles_index') }}">Retour à la liste</a>

    <a href="{{ path('app_articles_edit', {'id': article.id}) }}">Modifier</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
