{% extends 'base.html.twig' %}

{% block title %}Animals index{% endblock %}

{% block body %}
    <h1>Animals index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Breed</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.breed.name }}</td>
                <td>{{ animal.createdAt ? animal.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_animals_show', {'id': animal.id}) }}">show</a>
                    <a href="{{ path('app_animals_edit', {'id': animal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animals_new') }}">Create new</a>
{% endblock %}
