{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <table class="table">
        <tbody>
           <tr>
                <th>Animal numéro </th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ animal.name }}</td>
            </tr>
            <tr>
                <th>Crée le</th>
                <td>{{ animal.createdAt ? animal.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ animal.updatedAt ? animal.updatedAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_animals_index') }}">Retour à la liste</a>

    <a href="{{ path('app_animals_edit', {'id': animal.id}) }}">Modifier</a>

    {{ include('animals/_delete_form.html.twig') }}
{% endblock %}
